<.header>
  URL <kbd>/<%= @url.short %></kbd>
</.header>

<.list>
  <:item title="Destination URL">
    <.external href={@url.original_raw} />
  </:item>
  <:item title="Short">
    <.external href={url(@conn, ~p"/#{@url.short}")} />
  </:item>
</.list>

<.back navigate={~p"/urls/new"}>Back to shorten a new URL</.back>
