<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:original_raw]} type="url" label="URL" required />

  <:actions>
    <.button>Shorten Url</.button>
  </:actions>
</.simple_form>
